.container {
    width: 550px !important;
    margin-top: 10% !important;
}
#homepage_container{
  width: 650px !important;
  margin-top: 30px !important;
}
 #login_body{
    background-image: url("bg.jpg");
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.font-weight-bold {
    font-weight: 700!important;
    color: white;
}
.error {
    color: red;
}
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}
